<header>
  <p>{{ title }}</p>
  <app-button
    *ngIf="hasRoute('/')"
    (handleButtonClick)="handleAddTask()"
    color="{{ showAddTask ? 'red' : 'green' }}"
    label="{{ showAddTask ? 'Close' : 'Add Task' }}"
  ></app-button>
</header>
