<div style="text-align: center">
  <h3>
    Task Tracker by
    <a
      style="color: #333"
      target="_blank"
      href="https://www.linkedin.com/in/wahyu-fatur-rizky/"
      >Wahyu Fatur Rizki</a
    >
  </h3>
  <h4>Version 1.0.0</h4>
  <a routerLink="/">Go Back</a>
</div>
