<app-add-task (onHandleSubmit)="onHandleSubmit($event)"></app-add-task>
<div
  class="task"
  [ngClass]="{ reminder: data.reminder }"
  *ngFor="let data of task; index as i"
  (dblclick)="handleUpdateReminder(data)"
>
  <h3>
    {{ data.task }}
    <fa-icon
      (click)="handleDeleteTask(data)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>{{ data.day }}</p>
</div>
<p style="text-align: center" *ngIf="task.length === 0">Loading ...</p>
<div style="text-align: center; margin-top: 24px">
  <a style="color: #333" routerLink="/about">About</a>
</div>
