<form *ngIf="isShowForm" (ngSubmit)="handleSubmit()">
  <div
    *ngFor="let subData of data"
    [class]="[
      subData.fieldType === 'checkbox' ? 'form-control-check' : 'form-control'
    ]"
  >
    <label style="text-transform: capitalize" [for]="subData.fieldName">{{
      subData.fieldName
    }}</label>
    <input
      [(ngModel)]="subData.fieldValue"
      [type]="subData.fieldType"
      [name]="subData.fieldName"
      [id]="subData.fieldName"
      [placeholder]="subData.placeholder"
      (change)="handleChange(subData)"
    />
  </div>

  <input
    style="margin-bottom: 24px; margin-top: 24px"
    type="submit"
    value="Save Task"
    class="btn btn-block"
  />
</form>
